<!-- Masthead-->
{% load static %}
<header class="masthead">
    <style>
        .box {
            background-image: url('static/img/Bergen-County-Vocational-School-0000.jpg');
            height: 1000px;
        }
    </style>
    <div class="container box">
        <div class="masthead-subheading" style="color:black;">Welcome To</div>
        <div class="masthead-heading text-uppercase" style = "color:black;">Bergen Tech Teterboro</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="#services">Learn More</a>
    </div>
</header>