<!-- Masthead -->
{% load static %}
<header class="masthead" style="margin-top: 0; padding-top: 0;">
    <div class="masthead-container position-relative">
        <br>
        <br>
        <br>
        <div class="masthead-bg" style="margin: 0; padding: 0;">
            <img src="{% static 'img/Bergen-County-Vocational-School-0000 (1).jpg' %}" alt="Bergen County Vocational School" style="width: 100%; height:120%; object-fit: cover; display: block;">
        </div>
        <div class="container h-100 d-flex flex-column justify-content-center position-relative z-index-1">
            <div class="masthead-content text-center">
                <div class="masthead-subheading">Welcome To</div>
                <div class="masthead-heading text-uppercase">Bergen Tech Teterboro</div>
                <a class="btn btn-primary btn-xl text-uppercase mt-4" href="#about">Learn More</a>
            </div>
        </div>
    </div>
</header>