{% extends "base.html" %}
{% block content %}
<section class="bg-light py-5" id="faculty_members">
    <div>howdy</div>
    <br>
    <h1>Faculty Members</h1>
    <ul>
        {% for member in faculty_members %}
            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 style="card-title">{{member}}</h5>
                    <img src="{{ member.photo.url }}" alt="{{ member.name }}" style="width: 100%;">
                    <p>{{member.description}}</p>
                    <p>Phone: {{member.phone}}</p>
                    <p>Email: {{member.email}}</p>
                </div>
            </div>
            
        {% empty %}
            <li>No faculty members found.</li>
        {% endfor %}
    </ul>
  </section>
{% endblock content %}

{% comment %} <body>
    <h1>Faculty Members</h1>
    <ul>
        {% for member in faculty_members %}
            <li>
                <strong>{{ member.name }}</strong>
            </li>
            <li>
                {{member.description}}
            </li>
            <li>
                phone: {{member.phone}}
            </li>
            <li>
                email: {{member.email}}
            </li>
        {% empty %}
            <li>No faculty members found.</li>
        {% endfor %}
    </ul>
</body> {% endcomment %}